# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript
resources:
  repositories:
    - repository: pulumi-testing
      type: github
      endpoint: LecCory
      name: LecCory/pulumi-testing
trigger: none
pool:
  name: SelfPool

jobs:
- job: infra


  steps:
  - checkout: pulumi-testing
  - checkout: self

  - task: Npm@1
    inputs:
      command: 'install'
      workingDir: pulumi-testing
  - task: Pulumi@1
    env:
      PULUMI_ACCESS_TOKEN: $(pulumi)
    inputs:
      azureSubscription: 'Azure subscription 1 (1ff6c602-69fe-454f-a795-de22a178a6c0)'
      cwd: $(Build.SourcesDirectory)\pulumi-testing
      command: 'up'
      args: '--yes -f'
      stack: 'devPOC'
      createStack: true
    displayName: Standup Infrastructure

  - script: |
      echo "##vso[task.setvariable variable=resourceGroupName;isOutput=true]$(pulumi stack output resourceGroupName)"
      echo "##vso[task.setvariable variable=storageAccountName;isOutput=true]$(pulumi stack output saAccountName)"
      echo "##vso[task.setvariable variable=containerName;isOutput=true]$(pulumi stack output containerName)"
    name: pulumi

- job: deploy
  condition: ne(dependencies.infra.outputs['pulumi.containerName'], '')
  dependsOn: infra
  variables:
    containerName: $[ dependencies.infra.outputs['pulumi.containerName'] ]
  steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: |     
        Write-Host $(containerName)

  - task: AzureCLI@2
    inputs:
      azureSubscription: 'Azure subscription 1 (1ff6c602-69fe-454f-a795-de22a178a6c0)'
      scriptType: 'ps'
      workingDirectory: $(Build.SourcesDirectory)\Assessment\api
      scriptLocation: 'inlineScript'
      inlineScript: |
        func azure functionapp publish $(containerName)
        
        
        