# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript
resources:
  repositories:
    - repository: pulumi-testing
      type: github
      endpoint: LecCory
      name: LecCory/pulumi-testing
trigger: none

pool:
  name: SelfPool

steps:
- checkout: pulumi-testing
- checkout: self

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: pulumi-testing
- task: Pulumi@1
  env:
    PULUMI_ACCESS_TOKEN: $(pulumi)
  inputs:
    azureSubscription: 'Azure subscription 1 (1ff6c602-69fe-454f-a795-de22a178a6c0)'
    cwd: $(Build.SourcesDirectory)\pulumi-testing
    command: 'up'
    args: '--yes -f'
    stack: 'devPOC'
    createStack: true
  displayName: Standup Infrastructure

- script: |
    echo "##vso[task.setvariable variable=resourceGroupName;isOutput=true]$(pulumi stack output resourceGroupName)"
    echo "##vso[task.setvariable variable=storageAccountName;isOutput=true]$(pulumi stack output saAccountName)"
    echo "##vso[task.setvariable variable=functionAppName;isOutput=true]$(pulumi stack output faName)"

    echo "$(functionAppName)"
  displayName: Create PipeLine variables

- task: AzureCLI@2
  inputs:
    azureSubscription: 'Azure subscription 1 (1ff6c602-69fe-454f-a795-de22a178a6c0)'
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: |
      Get-AzContext | Select-object -Property Account
      
      Write-Host "Hello"
      